<% provide(:title, 'Mixes') %>
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
	<div class="mdl-tabs__tab-bar">
		<a href="#original-mixes" class="mdl-tabs__tab is-active">Original Mixes</a>
		<a href="#dj-mixes" class="mdl-tabs__tab">DJ Mixes</a>
	</div>

	<div class="mdl-tabs__panel is-active" id="original-mixes">
		<div class="mdl-grid">
			<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--4-col">Original</div>
			<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--4-col">Original</div>
			<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--4-col">Original</div>
		</div>
	</div>

	<div class="mdl-tabs__panel" id="dj-mixes">
		<div class="mdl-grid">
			<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--4-col">DJ</div>
			<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--4-col">DJ</div>
			<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--4-col">DJ</div>
		</div>
	</div>

</div>