<% provide(:title, "User created") %>

	<div class="mdl-shadow--4dp mdl-card" style="padding-left:2%;margin-left:12.5%;margin-top:10%;overflow:hidden;width:75%;">

		<h3>Dear <%= @user.username %>,</h3>
		<br>
		<h3>Thank you for signing up to Auraphonics!</h3>
		<br>
		<h3>Best regards,</h3>
		<br>
		<h3>Auraphonics Network</h3>

		

	</div>
