<% provide(:title, 'Auraphonics Home') %>

<div class="w3-center blue-grey-d2" style="height:250px;width:100%">
  <p class="jumbo-font-5" style="padding-top:100px;">Auraphonics</p>
</div>
<div class="">
  <a href="/artist"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored w2-third" style="margin-left:1%;"><p class="jumbo-font-2">Artists</p></button></a>
  <a href="/music"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored w2-third"><p class="jumbo-font-2">Music</p></button></a>
  <a href="/mixes"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored w2-third"><p class="jumbo-font-2">Mixes</p></button></a>

</div>

<div class="" style="width:60%;margin-left:5%;">
  <div class="w3-container blue-grey-d2 mdl-shadow--4dp">
  <p class="jumbo-font-3" style="margin-top:1px;padding-top:10px;padding-bottom:10px;">Featured</p>
  </div>
</div>

<div class="mdl-grid" style="width:90%;height:600px;margin-left:5%">
  <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--5-col">Artist</div>
  <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--5-col">Artist</div>
</div>

<div class="" style="width:60%;margin-left:5%;">
  <div class="w3-container blue-grey-d2 mdl-shadow--4dp">
  <p class="jumbo-font-3" style="margin-top:1px;padding-top:10px;padding-bottom:10px;">New</p>
  </div>
</div>

<div class="mdl-grid" style="width:90%;margin-left:5%;">
  <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--3-col"></div>
  <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--3-col"></div>
  <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--3-col"></div>
  <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--3-col">Artist</div>
  <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--3-col">Artist</div>
  <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--3-col">Artist</div>
  <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--3-col">Artist</div>
  <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--3-col">Artist</div>
</div>