<% provide(:title, 'Artists') %>

<div class="mdl-grid">
	<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--2-col">artists</div>
	<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--2-col">artists</div>
	<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--2-col">artists</div>
	<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--2-col">artists</div>
	<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--2-col">artists</div>
	<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--2-col">artists</div>
	<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--2-col">artists</div>
	<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--2-col">artists</div>
	<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--2-col">artists</div>
	<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--2-col">artists</div>
	<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--2-col">artists</div>
	<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--2-col">artists</div>
</div>