<% provide(:title, 'Music') %>

<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
	<div class="mdl-tabs__tab-bar">
		<a href="#house" class="mdl-tabs__tab is-active">House</a>
		<a href="#classic-house" class="mdl-tabs__tab">Classic House</a>
		<a href="#progressive-house" class="mdl-tabs__tab">Progressive House</a>
		<a href="#electro-house" class="mdl-tabs__tab">Electro House</a>
		<a href="#big-room-house" class="mdl-tabs__tab">Big Room House</a>
		<a href="#deep-house" class="mdl-tabs__tab">Deep House</a>
		<a href="#tropical-house" class="mdl-tabs__tab">Tropical House</a>
		<a href="#bounce" class="mdl-tabs__tab">Bounce</a>
	</div>

	<div class="mdl-tabs__panel is-active" id="house">
		<div class="mdl-grid">
			<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--3-col"><iframe width="100%" height="250" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/203409822&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe></div>
			<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--3-col"><iframe width="100%" height="250" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/203409822&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe></div>
			<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--3-col"><iframe width="100%" height="250" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/203409822&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe></div>
			<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--3-col"><iframe width="100%" height="250" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/203409822&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe></div>
		</div>
	</div>

	<div class="mdl-tabs__panel" id="classic-house">
		<div class="mdl-grid">
		<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--4-col">Classic</div>
		<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--4-col">Classic</div>
		<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--4-col">Classic</div>
		</div>
	</div>

	<div class="mdl-tabs__panel" id="progressive-house">
		<div class="mdl-grid">
			<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--4-col">Progressive</div>
			<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--4-col">Progressive</div>
			<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--4-col">Progressive</div>
		</div>
	</div>

</div>