<% provide(:title, 'Music') %>

<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
	<div class="mdl-tabs__tab-bar">
		<a href="#all" class="mdl-tabs__tab is-active">All</a>
		<a href="#house" class="mdl-tabs__tab">House</a>
		<a href="#bass" class="mdl-tabs__tab">Bass</a>
		<a href="#trance" class="mdl-tabs__tab">Trance</a>
		<a href="#electronic" class="mdl-tabs__tab">Electronic</a>
	</div>

	<div class="mdl-tabs__panel is-active" id="all">
		<div class="mdl-grid">
			<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--3-col">All</div>
			<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--3-col">All</div>
			<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--3-col">All</div>
			<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--3-col">All</div>
		</div>
	</div>

	<div class="mdl-tabs__panel" id="house">
		<div class="mdl-grid">
			<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--3-col">House</div>
			<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--3-col">House</div>
			<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--3-col">House</div>
			<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--3-col">House</div>
		</div>
	</div>

	<div class="mdl-tabs__panel" id="bass">
		<div class="mdl-grid">
			<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--3-col">Bass</div>
			<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--3-col">Bass</div>
			<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--3-col">Bass</div>
			<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--3-col">Bass</div>
		</div>
	</div>

	<div class="mdl-tabs__panel" id="trance">
		<div class="mdl-grid">
			<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--3-col">Trance</div>
			<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--3-col">Trance</div>
			<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--3-col">Trance</div>
			<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--3-col">Trance</div>
		</div>
	</div>

	<div class="mdl-tabs__panel" id="electronic">
		<div class="mdl-grid">
			<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--3-col">Electronic</div>
			<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--3-col">Electronic</div>
			<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--3-col">Electronic</div>
			<div class="mdl-shadow--4dp mdl-card mdl-cell mdl-cell--3-col">Electronic</div>
		</div>
	</div>

</div>