<% provide(:title, "Message sent") %>

<div class="mdl-shadow--4dp mdl-card" style="padding-left:2%;margin-left:12.5%;margin-top:10%;overflow:hidden;width:75%;">

	<h1>Thank you for contacting us! We will get back to you as soon as possible.</h1>

</div>